<p id = "game">Towers of Hanoi</p>
  <section class="main" id = "1">One
    <section id="one"></section>
    <section id="two"></section>
    <section id="three"></section>
  </section>

  <section class="main2" id = "2">Two</section>

  <section class="main" id = "3">Three</section>

