<p id= "game">Towers of Hanoi</p>
  <section class= "main" id = "T1">One
    <section class= "draggable ring" id= "ring1"></section>
    <section class= "draggable ring" id= "ring2"></section>
    <section class= "draggable ring" id= "ring3"></section>
  </section>

  <section class= "main2" id= "T2">Two</section>

  <section class= "main" id= "T3">Three</section>
