<p id = "game">Towers of Hanoi</p>

<section class="main" id = "1">1
  <section id="one">1</section>
</section>

<section class="main2" id = "2">2</section>

<section class="main" id = "3">3</section>

